@page "/"

<PageTitle>Home</PageTitle>

<html>
    <div>
        <strong>
            <h1>
                The FMC group: Fully Modular Controller
            </h1>
        </strong>
        <section>
            <h2>
                CS 426 Senior Project in Computer Science, Spring 2025, University of Nevada, Reno, CSE Department
            </h2>
            <h3>
                Team 31, Allen Bruan, Lloyd Cargo, Damian Conteras
            </h3>
            <h3>
                Advisors Erin Keith, CSE Department; Doug Bookey, Office of Information Technology;
            </h3>
            <p>
                <h4>
                    Project Description:
                </h4>
                A controller inspired by Framework to make controller components and layout customizable to your needs!
            </p>
            <div>
                <p>
                    <h4>
                        References Section:
                    </h4>
                    Pretend this has links
                </p>
            </div>

        </section>
        <h6>This site is a -WORK IN PROGRESS- and will change over time.</h6>
        <h6>Hosted with love in Reno, NV by Bad Coder Dot Net</h6>
    </div>
</html>
