@page "/"

<PageTitle>Home</PageTitle>

<html>
    <div>
        <strong>
            <h1>
                The FMC group: Fully Modular Controller
            </h1>
        </strong>
        <section>
            <h2>
                CS 426 Senior Project in Computer Science, Spring 2025, University of Nevada, Reno, CSE Department
            </h2>
            <h3>
                Team 31, Allen Bruan, Lloyd Cargo, Damian Conteras
            </h3>
            <h3>
                Advisors Erin Keith, CSE Department; Doug Bookey, Office of Information Technology;
            </h3>
            <p>
                <h4>
                    Project Description:
                </h4>
                The Fully Modular Controller (FMC) is a gamepad composed of a central body with at least four slots for hot-swappable modules that can be inserted to meet a user’s desires 
                for different physical configurations of a controller, specialized for whatever they need the controller to act as. The FMC is made with repairability and open source release
                in mind, and uses off the shelf components and a 3D printed body to make it cheap and easy to produce. The end goal is for the FMC to act as one controller that a user can 
                connect to any system for any purpose, whether it be for videogames, or for robotic control where they can configure the physical layout of the controller to fit whatever 
                purpose needed. 
            </p>
            <div>
                <p>
                    <h4>
                        References Section:
                    </h4>
                    <p>
                    <li>[1] J. Blomberg, “Game studies,” Game Studies - Issue 18, 2018, https://gamestudies.org/1802/articles/blomberg .</li>
                    <li>[2] D. Tan, “Game user experience evaluation,” Human–Computer Interaction Series, pp. 263–284, 2015. doi:10.1007/978-3-319-15985-0.</li>
                    <li>[3] D. Hughes, “Game Design and control ergonomics,” Game Developer, https://www.gamedeveloper.com/design/game-design-and-control-ergonomics .</li>
                    <li>[4] A. Lamothe, Black Art of 3D Game Programming. Waite Group Press, 1997.</li>
                    </p>
                </p>
            </div>

        </section>
        <h6>This site is a -WORK IN PROGRESS- and will change over time.</h6>
        <h7>Hosted with love in Reno, NV by Bad Coder Dot Net</h7>
    </div>
</html>
